<!DOCTYPE html>

{% load staticfiles %}
<html>

    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}Fat Quants{% endblock title %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{% static "css/fatquants.css" %}">
        {% endblock stylesheets %}
    </head>

    <body>
        <div class="content">
            {% block content %}
                <h1>Tools for trading and investing</h1>
            {% endblock content %}
        </div>
    </body>

</html>
